* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background: #fafafa url(images/svg-gradient.svg) bottom right/contain no-repeat;
    overflow: hidden;
}

nav {
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

nav .fa-bars {
    display: none;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #2C2C2C;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav-btn {
    background: #50CDFB;
    height: 146px;
    width: 130px;
    padding: 10px 16px;
    border-radius: 4px;
    color: #fff;
}

.nav-btn:hover {
    background: #F55D5D;
    transition: 0.2s ease-out;
}

.main-content {
    padding-top: 5rem;
    max-width: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
}

.main-col-left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.main-col-right {
    width: 50%;
}

.main-img {
    position: absolute;
    top: 100px;
}

.main-content h1, .main-content p {
    margin-bottom: 1.5rem;
}

.main-content p {
    font-size: 1.5rem;
}

.icon {
   padding-left: 25px;
   transform: translate(0%, 100%);
   color: #5250FB;
   width: 70px;
   text-align: left;
   position: absolute;
}

.email {
    width: 280px;
    height: 50px;
    border: none;
    border-left: 6px solid #5250FB; 
    border-radius: 4px;
    box-shadow: 1px 1px 6px -1px rgba(0,0,0,0.25);
    outline: none;
    margin-bottom: 1.5rem;
    padding-left: 3rem;
}

.main-btn {
    background: #5250FB;
    padding: 14px 0;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    border: none;
    width: 180px;
    text-align: center;
}

.main-btn:hover {
    background: #50CDFB;
    transition: 0.2s ease-out;
}

.new-section {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@media screen and (max-width: 1300px) {
    .main {
        background: #fafafa url(images/svg-gradient.svg) bottom right -150px/contain no-repeat;
    }
}

@media screen and (max-width: 1000px) {
    .main {
        background: #fafafa url(images/svg-gradient.svg) top right -400px/contain no-repeat;
    }

    .main-col-left p {
        font-size: 1.2rem;
    }

    nav ul{
        display: none;
    }

    nav .fa-bars {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        color: #fff;
    }

    .main-img {
        height: 70%;
    }

}

@media screen and (max-width: 768px) {
    .main {
        background: url(images/mobile-1.svg) bottom -250px right -100px/contain no-repeat;
        overflow: visible;
        overflow-y: hidden;
    }

    nav .fa-bars {
        color: #000;
    }

    .main-content {
        display: block;
        justify-content: center;
        max-width: 70%;
    }

    .main-col-left {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        min-width: 100%;
    }

    .email {
        width: 100%;
    }

    .main-btn {
        width: 100%;
    }

    .main-img {
       top: 75%;
    }

}
 
@media screen and (max-width: 620px) {
    .main-img {
        display: none;
    } 
}